<footer>
                            
    <section class="marcas">
        <h1>MARCAS</h1>
        <div class="imagenes">
            
           <img src="/images/adidas.png" alt="">
            <img src="/images/dc.png" alt="">
            <img src="/images/dc2.png" alt="">
            <img src="/images/Levis-logo.svg" alt="">
   
            <img src="/images/tommy.png" alt="">
            
        </div>
    </section>


    <section class="footer-bottom">

        <div>
            <h4>Acerca de Ulmen</h4>
            <ul class="links">
                <a href="/nosotros"><li>Nosotros</li></a> 
                <li>Sustentabilidad</li>
                <li>Empleo</li>
                <li>Meta y objetivos</li>
            </ul>
        </div>

        <div>
            <h4>Ayuda</h4>
            <ul class="links">
                <li>Cambios y Devoluciones</li>
                <li>Preguntas Frecuentes</li>
                <li>Envío y entrega</li>
            </ul>

        </div>

        <div>
            <h4 class="contact">Contacto</h4>
            <div class="redes">
                <div class="facebook"><i class="fab fa-facebook"></i></div>
                <div class="instagram"><i class="fab fa-instagram"></i></div>
                <div class="wsp"><i class="fab fa-whatsapp"></i></div>
            </div>

        </div>


    </section>
    <section class="legal">
        <p>Copyright © 2021 Ulmen S.A.I.C.e.I.</p>
        <p>Información Legal</p>
    </section>
</footer>

<script src="/js/carrito.js"></script>