<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body class="nosotros">
        <%- include('./partials/header') %>
           <main>
                <img src="/images/nosotros/sobre-nosotros.jpeg" alt="">
                <p>
                    Ulmen es una marca Argentina que acompaña la dinamica de la vida de las personas, acercandole una amplia propuesta de prendas inspiradas en las ultimas tedencias de moda.
                    
                    Nuestra gran variedad, amalgama diseño con funcionalidad y asegura un justo equilibrio entre calidad y accesibilidad, permitiendo que cada persona pueda crear su propio estilo y potenciar lo mejor de si misma.

                    A traves de los locales ubicados en las ciudades mas importantes de Argentina brindamos a nuestros clientes una agradable experiencia de compra.
                </p>
           </main>

            <%- include('./partials/footer') %>
    </body>

</html>